/*  ******************** FONT ******************** */
/*  ******************** COLORS ******************** */
/*  ******************** GRID ******************** */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    /*invisible at the start*/
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    /*visible at the end*/
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    /*invisible at the start*/
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    /*visible at the end*/
    transform: translate(0); } }

@keyframes spin {
  100% {
    transform: rotate(1turn); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    /*invisible at the start*/
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    /*visible at the end*/
    transform: translate(0); } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  /*everyone! inherits from body*/
  scroll-behavior: smooth;
  /*so scrolling to sections is 
    done slowly*/ }

html {
  /*ROOT*/
  font-size: 62.5%;
  /* we want the font size to be 10px.
    to get %, divide 16/100 = 0.625 which is 62.5% 
    we do this to accomodate user CSS changes in peoples browsers
    */ }

body {
  box-sizing: border-box; }

/* ***************** HEADINGS ***************** */
.heading-primary {
  color: #FFFAE4;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-weight: 400;
    font-size: 4rem;
    letter-spacing: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1.74rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  display: inline-block;
  background-image: linear-gradient(to right, #623A30, #3E939A);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(62, 26, 28, 0.2); }

.heading-tertiary {
  text-transform: uppercase;
  backface-visibility: hidden;
  display: inline-block;
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #3E1A1C;
  font-size: 2rem;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0; }

.heading-comic {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 3rem; }

.blog-heading {
  margin-top: 20rem; }

/* ***************** other ***************** */
p {
  color: #FFFAE4;
  font-size: 1.6rem;
  line-height: 2rem;
  margin: 0; }
  p:not(:last-child) {
    margin-bottom: 3rem; }

body {
  font-family: 'Belleza','Sansita', "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #FFFAE4;
  padding: 3rem;
  /*background-color: $color-primary;*/ }

a {
  color: #8080ff;
  text-decoration: none; }
  a:hover {
    color: #3E939A;
    text-decoration: underline; }

.author {
  color: #3E1A1C;
  display: block;
  font-family: 'Open Sans',  sans-serif;
  font-size: 16px;
  padding-bottom: 38px;
  position: relative;
  text-align: center;
  z-index: 1; }
  .author:before {
    border-top: 0.1rem solid #3E1A1C;
    content: "";
    position: absolute;
    top: 1.2rem;
    left: 0;
    width: 100%;
    z-index: -1; }
  .author span {
    background: #FFFAE4;
    padding: 0 1rem;
    text-transform: uppercase; }

.line {
  border-top: 0.1rem solid #623A30;
  display: block;
  margin-top: 6rem;
  padding-top: 5rem;
  position: relative; }

.read-more {
  -moz-border-radius: 50%;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  background: #3E1A1C;
  border-radius: 50%;
  border: 1rem solid #FFFAE4;
  color: #FFFAE4;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  height: 8rem;
  line-height: 8rem;
  margin: -2rem 0 0 -2rem;
  position: fixed;
  top: 3rem;
  z-index: 999;
  right: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  width: 8rem;
  cursor: pointer; }
  .read-more:hover {
    background: #3E939A;
    text-decoration: none; }

.u-center-text {
  text-align: center !important; }

.u-right-text {
  text-align: right !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-padding-left-big {
  padding-left: 8rem !important; }

.u-padding--left-medium {
  padding-left: 4rem !important; }

.u-padding--left-small {
  padding-left: 1.5rem !important; }

.u-padding-right-big {
  padding-right: 8rem !important; }

.u-padding--right-medium {
  padding-right: 4rem !important; }

.u-padding--right-small {
  padding-right: 1.5rem !important; }

.u-padding-bottom-small {
  padding-bottom: 1.5rem !important; }

.u-padding-bottom-medium {
  padding-bottom: 4rem !important; }

.u-padding-bottom-large {
  padding-bottom: 8rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  /*if you want to give paddings, heights or widths*/
  border-radius: 10rem;
  transition: all .2s;
  /* here we 'allow' for transistions. without it the hover/active etc wouldnt work*/
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  /*when hover it slides up*/
  box-shadow: 0 1rem 2rem rgba(62, 26, 28, 0.2);
  /*x y blur color*/ }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    /*scale(2) would be double the size of the original .btn */
    opacity: 0;
    /*make invisible*/ }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  /*when click it slides down*/
  box-shadow: 0 0.5rem 1rem rgba(62, 26, 28, 0.2);
  /*x y blur color*/ }

.btn--white {
  background-color: #FFFAE4;
  color: #3E1A1C;
  border-radius: 2rem; }
  .btn--white::after {
    color: #FFFAE4; }

.btn--link {
  background-color: #FFFAE4;
  color: #3E1A1C;
  border-radius: 2rem; }
  .btn--link::after {
    color: #FFFAE4; }

.btn::after {
  /*looks like the original button, but is behind button. hover makes it show shortly*/
  content: "";
  /*required*/
  display: inline-block;
  height: 100%;
  /*child of btn, so same size as btn*/
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
  /*allows transitions*/ }

.btn--animated {
  /*slide in from invisible, to visible from bottom*/
  animation: moveInButton .5s ease-out .75s;
  animation-fill-mode: backwards;
  /*before animation starts, the 0% styles from keyframes will be applied*/ }

/* ************************************************************ */
.btn2:link, .btn2:visited {
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block;
  /*if you want to give paddings, heights or widths*/
  transition: all .2s;
  /* here we 'allow' for transistions. without it the hover/active etc wouldnt work*/
  position: relative; }

.btn2:hover {
  transform: translateY(-0.3rem);
  /*when hover it slides up*/
  box-shadow: 0 1rem 2rem rgba(62, 26, 28, 0.2);
  /*x y blur color*/ }
  .btn2:hover::after {
    transform: scaleX(1) scaleY(1);
    /*scale(2) would be double the size of the original .btn */
    opacity: 0;
    /*make invisible*/ }

.btn2:active {
  transform: translateY(-0.1rem);
  /*when click it slides down*/
  box-shadow: 0 0.5rem 1rem rgba(62, 26, 28, 0.2);
  /*x y blur color*/ }

.btn2--link {
  background-color: #3E1A1C;
  color: #FFFAE4; }
  .btn2--link::after {
    color: #FFFAE4; }

.btn2::after {
  /*looks like the original button, but is behind button. hover makes it show shortly*/
  content: "";
  /*required*/
  display: inline-block;
  height: 100%;
  /*child of btn, so same size as btn*/
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
  /*allows transitions*/ }

.btn2--animated {
  /*slide in from invisible, to visible from bottom*/
  animation: moveInButton .5s ease-out .75s;
  animation-fill-mode: backwards;
  /*before animation starts, the 0% styles from keyframes will be applied*/ }

.btn3 {
  position: relative; }

.btn--centered {
  position: absolute;
  margin: 0 auto;
  bottom: 20%;
  left: 50%;
  z-index: 10; }

.btn-text:link, .btn-text:visited {
  color: #623A30;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #623A30;
  padding: 0.3rem;
  font-size: 1.6rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #623A30;
  color: #FFFAE4;
  box-shadow: 0 1rem 2rem rgba(62, 26, 28, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(62, 26, 28, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 30%;
    box-shadow: 0 1.5rem 4rem rgba(112, 206, 198, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 0.2rem; }
    .composition__photo--p1 {
      left: 2rem;
      top: -4rem; }
    .composition__photo--p2 {
      right: 10rem;
      top: 2rem; }
    .composition__photo--p3 {
      left: 14rem;
      top: 8rem; }
    .composition__photo:hover {
      outline: 0.2rem solid #623A30;
      transform: scale(1.5) translateY(-0.5rem);
      box-shadow: 0 3rem 4rem rgba(112, 206, 198, 0.6);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.75); }

.divider {
  margin: 2rem;
  padding-left: 3rem;
  padding-right: 3rem; }

.feature-box {
  background-color: rgba(255, 250, 228, 0.8);
  font-size: 1.4rem;
  padding: 2.4rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.4rem 4rem rgba(62, 26, 28, 0.15);
  transition: all 0.3s; }
  .feature-box__icon {
    font-size: 5rem;
    margin-bottom: 0.4rem;
    display: inline-block;
    background-image: linear-gradient(to right, #623A30, #3E939A);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box__text {
    text-align: left; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 90vw; }

.flex-item {
  padding: 0.5rem;
  min-height: 2rem;
  margin-top: 1rem;
  margin-right: 2rem;
  line-height: 2rem;
  color: #FFFAE4;
  /*border: 0.1rem solid $color-light;*/
  text-align: left; }
  .flex-item__para--BA {
    text-align: left;
    padding-right: 5rem;
    font-family: Arial, Helvetica, sans-serif; }
  .flex-item__para--YH {
    text-align: left;
    padding-right: 5rem;
    font-family: Arial, Helvetica, sans-serif; }

.social-icon-list {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 2.5rem; }
  .social-icon-list__social-icon {
    display: inline;
    margin-right: 1.5rem;
    position: relative; }
  .social-icon-list__social-links {
    color: #3E1A1C; }
  .social-icon-list__social-links:hover {
    color: #3E939A; }

.card {
  /* ************* For functionality ************* */
  -moz-perspective: 140rem;
  perspective: 140rem;
  position: relative;
  height: 40rem;
  /* ************* Front side styling ************* */
  /* ************* Back side styling ************* */ }
  .card__side {
    background-color: orangered;
    height: 40rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(62, 26, 28, 0.15); }
    .card__side--front {
      background-image: linear-gradient(#960015, #FFF89C);
      color: #623A30; }
    .card__side--back {
      color: #FFFAE4;
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #960015, #FFF89C); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #960015, #FFF89C); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: saturation;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #3E939A, #623A30), url(../img/card1.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #3E939A, #623A30), url(../img/card2.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #3E939A, #623A30), url(../img/card3.jpg); }
    .card__picture--4 {
      background-image: linear-gradient(to right bottom, #3E939A, #623A30), url(../img/card4.jpg); }
    .card__picture--5 {
      background-image: linear-gradient(to right bottom, #3E939A, #623A30), url(../img/card5.jpg); }
    .card__picture--6 {
      background-image: linear-gradient(to right bottom, #3E939A, #623A30), url(../img/card6.jpg); }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #FFFAE4;
    position: absolute;
    top: 15rem;
    left: 0;
    text-align: right;
    width: 75%; }
  .card__heading-span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1, .card__heading-span--2, .card__heading-span--3, .card__heading-span--4, .card__heading-span--5, .card__heading-span--6 {
      background-image: linear-gradient(to right bottom, rgba(247, 60, 243, 0.5), rgba(24, 16, 37, 0.8)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid grey; }
  .card__cta {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%); }
  .card ul {
    list-style-type: none;
    text-align: left; }
    .card ul li {
      margin-bottom: 0.5rem; }
      .card ul li a:hover {
        color: #960015;
        text-decoration: underline; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(112, 206, 198, 0.1);
  background-color: rgba(112, 206, 198, 0.7);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 8%, 100% 96%, 80% 100%, 20% 100%, 0 95%, 0 8%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 8%, 100% 96%, 80% 100%, 20% 100%, 0 95%, 0 8%);
  position: relative; }
  .story p {
    color: #3E1A1C; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(45% at 50% 50%);
    clip-path: circle(45% at 50% 50%);
    transform: translateX(-3rem);
    backface-visibility: hidden; }
  .story__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__image {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px), brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.70;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

/* ********** form ********** */
.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: #3E1A1C;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 250, 228, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  .form__input::-webkit-input-placeholder {
    color: #FFF89C; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(62, 26, 28, 0.1);
    border-bottom: 3px solid #93e392; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #960015; }

.form__label {
  color: #3E939A;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
  color: #FFF89C; }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  color: #3E939A;
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #623A30;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem; }
  .form__radio-button::after {
    height: 1.3rem;
    width: 1.3rem;
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #623A30;
    opacity: 0;
    transition: opacity 0.2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.footer {
  margin-top: 5rem;
  border-top: 1px solid #3E1A1C; }
  .footer__text {
    padding: 0 1rem;
    color: #3E1A1C;
    text-transform: uppercase; }
  .footer__date {
    color: #3E1A1C;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row :after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 8rem; }
  .row .col-1-of-2 {
    width: calc((100% - 8rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 8rem)) / 3); }
  .row .col-2-of-3 {
    width: calc(( 2 * (100% - (2 * 8rem)) / 3) + 8rem); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 8rem)) / 4); }
  .row .col-2-of-4 {
    width: calc(( 2 * (100% - (3 * 8rem)) / 4) + 8rem); }
  .row .col-3-of-4 {
    width: calc( (3 * (100% - (3 * 8rem)) / 4) + 2 * 8rem); }

header {
  background-color: black; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(98, 58, 48, 0.9), rgba(150, 0, 21, 0.9)), url(../img/hero.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 8%, 100% 96%, 80% 100%, 20% 100%, 0 95%, 0 8%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 8%, 100% 96%, 80% 100%, 20% 100%, 0 95%, 0 8%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem;
    backface-visibility: hidden;
    /*the animation wiggles without this*/
    animation: spin 10s linear infinite;
    /*Set our animation play state to paused initially */
    animation-play-state: paused; }
  .header__logo:hover {
    animation-play-state: running;
    /*spins around*/ }
  .header__logo:not(:hover) {
    animation: none;
    /*resets to default*/ }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__logo {
    height: 3.5rem;
    backface-visibility: hidden;
    /*the animation wiggles without this*/
    animation: spin 10s linear infinite;
    /*Set our animation play state to paused initially */
    animation-play-state: paused; }
  .header__logo:hover {
    animation-play-state: running;
    /*spins around*/ }
  .header__logo:not(:hover) {
    animation: none;
    /*resets to default*/ }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__icon-box {
    text-align: center;
    color: #3E1A1C; }

.self-presentation-text {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 3rem;
  padding-right: 3rem;
  line-height: 2rem; }
  .self-presentation-text span {
    display: block; }

.education-text {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 3rem;
  padding-right: 3rem; }
  .education-text span {
    display: block;
    line-height: 2rem; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #FFFAE4;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(16, 7, 4, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#960015, #623A30);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition-property: -webkit-transform;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link {
  display: inline-block; }
  .navigation__link:link, .navigation__link:visited {
    font-size: 3rem;
    font-weight: 300;
    color: #FFFAE4;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #FFFAE4 50%);
    background-size: 250%;
    transition: all .4s; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #623A30;
    transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #100704;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon:before {
  top: -1rem; }

.navigation__button:hover .navigation__icon:after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  height: 90vh;
  background-color: #70CEC6;
  padding: 15rem 0;
  margin-top: -15vh; }
  .section-about p {
    color: black; }

.section-features {
  height: 100vh;
  padding: 30rem 0;
  margin-top: -8vh;
  margin-bottom: 0rem;
  background-image: linear-gradient(to right bottom, rgba(255, 248, 156, 0.9), rgba(251, 154, 0, 0.9)), url(../img/snow.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 8%, 100% 96%, 80% 100%, 20% 100%, 0 95%, 0 8%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 8%, 100% 96%, 80% 100%, 20% 100%, 0 95%, 0 8%); }
  .section-features p {
    color: black; }

.section-tours {
  height: 100vh;
  background-color: #70CEC6;
  padding: 2rem 0;
  margin-top: 5vh; }
  .section-tours p {
    color: black; }
  .section-tours__school-logo {
    display: block; }

.section-stories {
  padding: 15rem 0;
  margin-top: -25vh;
  position: relative; }

.section-book {
  height: 100vh;
  padding: 15rem 0;
  margin-top: -10vh;
  background-image: linear-gradient(to right bottom, #3e939a, #960015);
  background-size: cover;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 8%, 100% 96%, 80% 100%, 20% 100%, 0 95%, 0 8%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 8%, 100% 96%, 1000% 100%, 0% 100%, 0 95%, 0 8%); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 250, 228, 0.5) 0%, rgba(255, 250, 228, 0.5) 50%, transparent 50%), url(../img/negative-space-sunset-flower-shadow-dandelion.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(255, 248, 156, 0.2);
  height: 60rem;
  margin: 2rem; }
  .book__form {
    width: 50%;
    padding: 6rem; }

/*to compile sass css in terminal
 run -> 
     npm run compile:sass
needs to be started up every session

to run the (HTTP)server - which starts watch and opens the page:
in terminal
    live-server
*/
