        label {
            color: white;border-radius: 4px;
        }

        #savename {
            color: white;
            font-size: 0.7em;border-radius: 4px;
        }

        #text {
            display: none;border-radius: 4px;
        }

        #results {
            display: none;border-radius: 4px;
        }

      
#time {color:red;border-radius: 4px;}
#name {color:green;border-radius: 4px;}
p{
    height: 1.5em; padding:2px;border-radius: 4px;
}
/* select box */

.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

/* bg login stuff */

#logInWindow {
    background-color:#8fcbd4; 
    width:95%;
    margin-left: 2em;
    margin-right: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding:1em;
    border-radius: 4px;
}

/* chat results stuff */

#textline {
    background-color:#8fcbd4; 
    width:95%;
    margin-left: 2em;
    margin-right: 6em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding:1em;
    display: none;
    background-color: #8fcbd4; 
    border-radius: 4px;
    
}
}

#chat_text{
    background-color:#8fcbd4; 
    width:95%;
    margin-left: 2em;
    margin-right: 6em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding:1em;
    display: none;
    background-color: #8fcbd4;
    border-radius: 4px;
}



/* login field labels */

#loginselect {margin-right: 1.8em;border-radius: 4px;}
#registerfield{margin-right: 0.8em;border-radius: 4px;}
#selectsavename {margin-right: 0.5em;border-radius: 4px;}
#savename{margin-left: 8em;border-radius: 4px;}

/* background image */

html { 
  background: url(bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body { 
    background-color: transparent;
}

    .msg {
      background-color: #efefef;border-radius: 4px;
    }
    #username, #text {
      margin: 5px 0px;border-radius: 4px;
    }
    #post {
      padding: 0.5em 1em;
      background-color: #50b1ff;
      border: none;
      color: #FFF;border-radius: 4px;
      display: none;
    }
  
.page-header {color:#8fcbd4; text-align:center; border-bottom-color: transparent; border-radius: 4px;
}

#results {background-color: #8fcbd4; margin: 1em; padding: 1em;}

#username{color:#aa863a;}
#text {color:#aa863a; width: 90%; height: 2em;}


/* ********************** logout ********************* */
#logout {display:none; }


#logoutButton {
   position:fixed;
   right:10px;
   top:5px;
    background-color: #50b1ff;
    border-bottom-color: black;
    border:1px;
    border-radius: 4px;
    color: black;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
}

/* ***************** Login window /*********************** **/

#loginname{font-size: 2em;}
#logininfo {display:none;}

#OK {background-color: #50b1ff;
    border-bottom-color: black;
    border:1px;
    border-radius: 4px;
    color: black;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;}