        label {
            color: white;
        }

        #savename {
            color: white;
            font-size: 0.7em;
        }

        #text {
            display: none;
        }

        #results {
            display: none;
        }

        #post {
            display: none;
        }

p{
    height: 1.5em; padding:2px;
}
    body {
      font-family: 'HelveticaNeue-Light';
      background-color: #283018;
    }
    .msg {
      background-color: #efefef;
    }
    #username, #text {
      margin: 5px 0px;
    }
    #post {
      padding: 0.5em 1em;
      background-color: #50b1ff;
      border: none;
      color: #FFF;
    }
  
.page-header {color:#aa863a; text-align:center;}

#results {background-color: #283018; margin: 1em; }

#username{color:#aa863a;}
#text {color:#aa863a; width: 90%; height: 2em;}

#textline {
    background-color: #283018; margin: 1em; padding: 1em;
    padding-left: 2em; padding-right: 2em;
}

#chat_text {
    background-color: #283018; margin: 1em; padding: 1em;
}
#logininfo {display:none;}


/* ***************** Login window /*********************** **/

