        label {
            color: white;
        }

        #savename {
            color: white;
            font-size: 0.7em;
        }

        #text {
            display: none;
        }

        #results {
            display: none;
        }

        #post {
            display: none;
        }
#time {color:red;}
#name {color:green;}
p{
    height: 1.5em; padding:2px;
}
/* select box */

.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

/* bg login stuff */

#logInWindow {
    background-color:#8fcbd4; 
    width:95%;
    margin-left: 2em;
    margin-right: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding:1em;
}

/* chat results stuff */

#textline {
    background-color:#8fcbd4; 
    width:95%;
    margin-left: 2em;
    margin-right: 6em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding:1em;
    display: none;
    background-color: #8fcbd4; 
    
}
}

#chat_text{
    background-color:#8fcbd4; 
    width:95%;
    margin-left: 2em;
    margin-right: 6em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding:1em;
    display: none;
    background-color: #8fcbd4;
}



/* login field labels */

#loginselect {margin-right: 1.8em;}
#registerfield{margin-right: 0.8em;}
#selectsavename {margin-right: 0.5em;}
#savename{margin-left: 8em;}

/* background image */

html { 
  background: url(bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body { 
    background-color: transparent;
}

    .msg {
      background-color: #efefef;
    }
    #username, #text {
      margin: 5px 0px;
    }
    #post {
      padding: 0.5em 1em;
      background-color: #50b1ff;
      border: none;
      color: #FFF;
    }
  
.page-header {color:#283018; text-align:center; border-bottom-color: transparent;
}

#results {background-color: #8fcbd4; margin: 1em; padding: 1em;}

#username{color:#aa863a;}
#text {color:#aa863a; width: 90%; height: 2em;}

#logininfo {display:none;}
#logout {display:none;}

/* ***************** Login window /*********************** **/

