@mixin clearfix{
    //appends pseudo elements after element
    // which clear floats so row height isnt 0
    :after{
        content : "";
        display:table;
        clear: both;
    }
}

@mixin centerHorizontalVertical {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition-property: -webkit-transform;
    transform: translate(-50%, -50%);
}
