/*  ******************** FONT ******************** */

$default-font-size: 1.6rem;


/*  ******************** COLORS ******************** */

//bg and link colors.
$color-primary: #623A30;
$color-primary-light: #960015;
$color-secondary:#26569E;
$color-secondary-light:#FFF89C;
$color-grey-light-1: #f7f7f7;

$color-green:#93e392;

//text colors.
$color-dark:#3E1A1C;
$color-light:#FFFAE4;

/*  ******************** GRID ******************** */

$grid-width: 114rem;
$gutter-vertical:8rem;
$gutter-horizontal:8rem;

// #e39294  #93e392  #9296e3 #e3b992 #92e3df #bce392