/*  ******************** FONT ******************** */

$default-font-size: 1.6rem;


/*  ******************** COLORS ******************** */

//bg and link colors.
$color-primary: #300032;
$color-primary-light: #9296e3;
$color-secondary:#c43235;
$color-grey-light-1: #f7f7f7;

//text colors.
$color-dark:#06000a;
$color-light:#e6e6e8;

/*  ******************** GRID ******************** */

$grid-width: 114rem;
$gutter-vertical:8rem;
$gutter-horizontal:8rem;

// #e39294  #93e392  #9296e3 #e3b992 #92e3df #bce392