/*  ******************** FONT ******************** */

$default-font-size: 1.6rem;


/*  ******************** COLORS ******************** */

//bg and link colors.
$color-primary: #623A30;
$color-dark: #3E1A1C;

$color-primary-light: #960015;


$color-secondary-light:#FFF89C;
$color-dark-yellow: #FB9A00;

$color-black: #100704;


$color-green:#93e392;

$color-grey-light-1: #70CEC6;
$color-secondary:#3E939A;

$color-light:#FFFAE4;

/*  ******************** GRID ******************** */

$grid-width: 114rem;
$gutter-vertical:8rem;
$gutter-horizontal:8rem;

