* {
font-family: 'Gudea', sans-serif;}

/* the label and input and buttons */

#labelA {border-radius: 4px; color:black; background-color:#c5d5cb; height:2em; margin-left:2px; min-width:60px; margin-right:2px; padding:2px;display: inline;
}

#labelB {border-radius: 4px; color:black; background-color:#c5d5cb; height:2em; margin-left:2px; margin-top: 5px; min-width:60px; margin-right:2px; padding:2px;display: inline;}

#labelC {border-radius: 4px; color:black; background-color:#c5d5cb; height:2em; margin-left:2px; min-width:60px; margin-right:2px; padding:2px;display: inline;}

#labelD {border-radius: 4px; color:black; background-color:#c5d5cb; height:2em; margin-left:2px; margin-top: 5px;  min-width:60px; margin-right:2px; padding:2px;display: inline;}

#labelE {border-radius: 4px; color:black; background-color:#c5d5cb; height:2em; margin-left:2px; min-width:60px; margin-right:2px; padding:2px;display: inline;}

#labelF {border-radius: 4px; color:black; background-color:#c5d5cb; height:2em; margin-left:2px; margin-top: 5px;  min-width:60px; margin-right:2px; padding:2px;display: inline;}


#author {
    display: inline;
    width: 25%;
    height:2em;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #e3e0cf;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;}

#title {
    display: inline;
    width: 25%;
    height:2em;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #e3e0cf;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;}

#S_author {
    display: inline;
    width: 25%;
    height:2em;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #e3e0cf;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;}

#S_title {
    display: inline;
    width: 25%;
    height:2em;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #e3e0cf;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;}

#V_author {
    display: inline;
    width: ;
    height:2em;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #e3e0cf;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;}

#V_title {
    display: inline;
    width: ;
    height:2em;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #e3e0cf;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;}

#search_g{margin-bottom: 5px;
    margin-top: 5px;
    min-width: 60px;
    background-color: #e3e0cf;
    border-color: #000;
    color:#000;}

#button{margin-bottom: 5px;
    margin-top: 5px;
    min-width: 60px;
    background-color: #e3e0cf;
    border-color: #000;color:#000;}

#button2{margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    min-width: 60px;
    background-color: #e3e0cf;
    border-color: #000;color:#000;}

#delete{margin-bottom: 5px;
    margin-top: 5px;
    min-width: 60px;
    background-color: #e3e0cf;
    border-color: #000;
    color:#000;}

#change{margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    min-width: 60px;
    background-color: #e3e0cf;
    border-color: #000;
    color:#000;}

/* The background image */
.bg {background-image: url(bg_fairy_small.jpg); background-repeat: no-repeat; background-size: cover;
  }



#form-control {
  width: 200px; 
}
#form-control1 {
  width: 200px; 
}


/* Stuff to reverse the order of the list so the last element comes first */

.list-group-item {
  
  background-color: #c5d5cb;
}
        
ul {
    transform: rotate(180deg); 
    list-style-type: none;
    margin-top: 10px;
    border-radius: 8px;
    
    white-space:nowrap;
    
    }



li {
   display:inline;
  
}

#books {background-color: #c5d5cb; 
    color = '#f1dcc9';}        
ul > li {
        transform: rotate(-180deg);
        display: block;
        padding: 9.5px;
        margin: 0 0 10px;
        font-size: 1em;
        line-height: 1.42857143;
        color: #333;
        word-break: break-all;
        word-wrap: break-word;
        background-color: #c5d5cb;
        
        border: 2px solid black;
        border-radius: 4px;}

.table-text-center th,.table-text-center td {text-align: center;}

th {height: 3em;}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

/* the menu */

#centeredmenu {
   float:left;
   width:100%;
   background:#c5d5cb;
   border-bottom:4px solid #000;
   overflow:hidden;
   position:relative;
}
#centeredmenu ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#centeredmenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:5px;
   padding:1px;
   position:relative;
   left:50%;
   right:50%;
   font-weight: bold;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -webkit-box-shadow: #5C7591 2px 2px 2px;
   -moz-box-shadow: #5C7591 2px 2px 2px; 
    box-shadow: #5C7591 2px 2px 2px;
}
#centeredmenu ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   background:#9fa8a3;
   color:#000;
   text-decoration:none;
   line-height:2em;
}
#centeredmenu ul li a:hover {
   background:#e3e0cf;
   
}


#centeredmenu ul li a.active:hover {
   color:black;
   background:#000;
   font-weight:bold;
}


.bg_menu {background-color:#c5d5cb;}

#V_bg_color {
    vertical-align: bottom; 
    background-color:#9fa8a3;
    display: none;}

#input_fields {display:none;}

#T_bg_color {
    vertical-align: bottom; 
    background-color:#9fa8a3;
    display: none;
    margin-left:15px;
    }

