.main{
}
.section-about{
    height:120vh;
    background-color: $color-grey-light-1;
    padding:15rem 0;
    margin-top: -15vh;

    & p{
        color:black;
    }
}

.section-features{
    height:100vh;
    padding:20rem 0;
    margin-top: -8vh;

    background-image: 
    linear-gradient(to right bottom, 
    rgba($color-primary, 0.8), 
    rgba($color-light, 0.8)),
    url(../img/nat-1-large.jpg);
    background-size: cover;
    /*
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 86%);
    clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 86%);
    */
    /*clip-path: polygon(0 0, 100% 0, 0 100%);*/

    transform: skewY(5deg);

    &>*{ // all direct children of section
        transform: skewY(-5deg);
    }
    & p{
        color:black;
    }
}

.section-tours{
    height:120vh;
    background-color: $color-grey-light-1;
    padding:2rem 0;
    margin-top: -5vh;

    & p{
        color:black;
    }

    &__school-logo{
        display: block;
    }
}

.section-stories{
    padding: 15rem 0;
    background-color: $color-grey-light-1;
}
